<!DOCTYPE html>
<html>
    <head>
        <title>PYmon - {% block title %}{% endblock title %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Slideshow builder ITC">
        <meta name="keywords" content="slideshow builder, powerpoint online">
        <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto+Slab" rel="stylesheet">
        <link href="/css/common.css?v={{version}}" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block app %}{% endblock %}
    </body>
</html>