body {
    text-align:center;
}

table {
    border-collapse: collapse;
    margin:auto;
    width:50%;
    background-color:white;
}

table, td, th {
    font-size:22px;
    padding:10px;
    border:1px solid black;
}

.btn {
    background-color: brown;
    color: white;
    border:none;
    padding:20px 20px;
    border-radius: 20px;
    outline:none;
    margin-top: 10px;
    font-size: 20px;
}

.btn:hover{
    background-color: crimson;
}